php_endpoint/vospace.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions 
    xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/"
    xmlns:http="http://schemas.xmlsoap.org/wsdl/http/" 
    xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" 
    xmlns:xsd="http://www.w3.org/2001/XMLSchema" 
    xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" 

    xmlns:vos.contract.1.1="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1"
    xmlns:vos.types.1.1="http://www.ivoa.net/xml/VOSpaceTypes-v1.1rc1"
    
    xmlns="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1"
    targetNamespace="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1"

    >
    <wsdl:documentation>
        Interface definition for a VOSpace 1.1 web service (MJG, 1/17/08)
    </wsdl:documentation>
    <wsdl:types>

        <xsd:schema
            targetNamespace="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1"
            elementFormDefault="qualified"
            >

            <!--+
                | Import the message schema.
                +-->
            <xsd:import
                namespace="http://www.ivoa.net/xml/VOSpaceTypes-v1.1rc1"
                schemaLocation="VOSpaceTypes-v1.1rc1.xsd"
                />

            <!--+
                | The GetViews message elements.
                +-->
            <xsd:element name="GetViews"         type="vos.types.1.1:GetViewsRequestType"/>
            <xsd:element name="GetViewsResponse" type="vos.types.1.1:GetViewsResponseType"/>
            
            <!--+
                | The GetProtocols message elements.
                +-->
            <xsd:element name="GetProtocols"         type="vos.types.1.1:GetProtocolsRequestType"/>
            <xsd:element name="GetProtocolsResponse" type="vos.types.1.1:GetProtocolsResponseType"/>
            
            <!--+
                | The GetProperties message elements.
                +-->
            <xsd:element name="GetProperties"         type="vos.types.1.1:GetPropertiesRequestType"/>
            <xsd:element name="GetPropertiesResponse" type="vos.types.1.1:GetPropertiesResponseType"/>
            
            <!--+
                | The CreateNode message elements.
                +-->
            <xsd:element name="CreateNode"         type="vos.types.1.1:CreateNodeRequestType"/>
            <xsd:element name="CreateNodeResponse" type="vos.types.1.1:CreateNodeResponseType"/>
            
            <!--+
                | The DeleteNode message elements.
                +-->
            <xsd:element name="DeleteNode"         type="vos.types.1.1:DeleteNodeRequestType"/>
            <xsd:element name="DeleteNodeResponse" type="vos.types.1.1:DeleteNodeResponseType"/>
            
            <!--+
                | The MoveNode message elements.
                +-->
            <xsd:element name="MoveNode"         type="vos.types.1.1:MoveNodeRequestType"/>
            <xsd:element name="MoveNodeResponse" type="vos.types.1.1:MoveNodeResponseType"/>
            
            <!--+
                | The CopyNode message elements.
                +-->
            <xsd:element name="CopyNode"         type="vos.types.1.1:CopyNodeRequestType"/>
            <xsd:element name="CopyNodeResponse" type="vos.types.1.1:CopyNodeResponseType"/>
            
            <!--+
                | The GetNode message elements.
                +-->
            <xsd:element name="GetNode"         type="vos.types.1.1:GetNodeRequestType"/>
            <xsd:element name="GetNodeResponse" type="vos.types.1.1:GetNodeResponseType"/>
            
            <!--+
                | The SetNode message elements.
                +-->
            <xsd:element name="SetNode"         type="vos.types.1.1:SetNodeRequestType"/>
            <xsd:element name="SetNodeResponse" type="vos.types.1.1:SetNodeResponseType"/>
            
            <!--+
                | The ListNodes message elements.
                +-->
            <xsd:element name="ListNodes"         type="vos.types.1.1:ListNodesRequestType"/>
            <xsd:element name="ListNodesResponse" type="vos.types.1.1:ListNodesResponseType"/>

	    <!--+
		| The FindNodes message elements.
		+-->
	    <xsd:element name="FindNodes"	  type="vos.types.1.1:FindNodesRequestType"/>
	    <xsd:element name="FindNodesResponse" type="vos.types.1.1:FindNodesResponseType"/>
            
            <!--+
                | The PushToVoSpace message elements.
                +-->
            <xsd:element name="PushToVoSpace"         type="vos.types.1.1:PushToVoSpaceRequestType"/>
            <xsd:element name="PushToVoSpaceResponse" type="vos.types.1.1:PushToVoSpaceResponseType"/>
            
            <!--+
                | The PullToVoSpace message elements.
                +-->
            <xsd:element name="PullToVoSpace"         type="vos.types.1.1:PullToVoSpaceRequestType"/>
            <xsd:element name="PullToVoSpaceResponse" type="vos.types.1.1:PullToVoSpaceResponseType"/>
            
            <!--+
                | The PullFromVoSpace message elements.
                +-->
            <xsd:element name="PullFromVoSpace"         type="vos.types.1.1:PullFromVoSpaceRequestType"/>
            <xsd:element name="PullFromVoSpaceResponse" type="vos.types.1.1:PullFromVoSpaceResponseType"/>
            
            <!--+
                | The PushFromVoSpace message elements.
                +-->
            <xsd:element name="PushFromVoSpace"         type="vos.types.1.1:PushFromVoSpaceRequestType"/>
            <xsd:element name="PushFromVoSpaceResponse" type="vos.types.1.1:PushFromVoSpaceResponseType"/>
            
            <!--+
                | The fault elements.
                +-->
            <xsd:element name="InternalFault"             type="vos.types.1.1:InternalFaultType"/>
            <xsd:element name="NodeNotFoundFault"         type="vos.types.1.1:NodeNotFoundFaultType"/>
            <xsd:element name="DuplicateNodeFault"        type="vos.types.1.1:DuplicateNodeFaultType"/>
            <xsd:element name="PermissionDeniedFault"     type="vos.types.1.1:PermissionDeniedFaultType"/>
            <xsd:element name="InvalidUriFault"           type="vos.types.1.1:InvalidUriFaultType"/>
            <xsd:element name="InvalidTokenFault"         type="vos.types.1.1:InvalidTokenFaultType"/>
            <xsd:element name="InvalidArgumentFault"      type="vos.types.1.1:InvalidArgumentFaultType"/>
            <xsd:element name="TypeNotSupportedFault"     type="vos.types.1.1:TypeNotSupportedFaultType"/>
            <xsd:element name="ViewNotSupportedFault"     type="vos.types.1.1:ViewNotSupportedFaultType"/>
            <xsd:element name="ProtocolNotSupportedFault" type="vos.types.1.1:ProtocolNotSupportedFaultType"/>
            <xsd:element name="TransferFailedFault"       type="vos.types.1.1:TransferFailedFaultType"/>
            <xsd:element name="InvalidDataFault"          type="vos.types.1.1:InvalidDataFaultType"/>
	    <xsd:element name="ContainerNotFoundFault"	  type="vos.types.1.1:ContainerNotFoundFaultType"/>
	    <xsd:element name="LinkFoundFault"		  type="vos.types.1.1:LinkFoundFaultType"/>
	    <xsd:element name="PropertyNotFoundFault"	  type="vos.types.1.1:PropertyNotFoundFaultType"/>
            
        </xsd:schema>
        
    </wsdl:types>

    <!--+
        | The GetViews messages.
        +-->
    <wsdl:message name="GetViewsRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetViews"/>
    </wsdl:message>
    <wsdl:message name="GetViewsResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetViewsResponse"/>
    </wsdl:message>

    <!--+
        | The GetProtocols messages.
        +-->
    <wsdl:message name="GetProtocolsRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetProtocols"/>
    </wsdl:message>
    <wsdl:message name="GetProtocolsResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetProtocolsResponse"/>
    </wsdl:message>

    <!--+
        | The GetProperties messages.
        +-->
    <wsdl:message name="GetPropertiesRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetProperties"/>
    </wsdl:message>
    <wsdl:message name="GetPropertiesResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetPropertiesResponse"/>
    </wsdl:message>

    <!--+
        | The CreateNode messages.
        +-->
    <wsdl:message name="CreateNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:CreateNode"/>
    </wsdl:message>
    <wsdl:message name="CreateNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:CreateNodeResponse"/>
    </wsdl:message>

    <!--+
        | The DeleteNode messages.
        +-->
    <wsdl:message name="DeleteNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:DeleteNode"/>
    </wsdl:message>
    <wsdl:message name="DeleteNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:DeleteNodeResponse"/>
    </wsdl:message>

    <!--+
        | The MoveNode messages.
        +-->
    <wsdl:message name="MoveNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:MoveNode"/>
    </wsdl:message>
    <wsdl:message name="MoveNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:MoveNodeResponse"/>
    </wsdl:message>

    <!--+
        | The CopyNode messages.
        +-->
    <wsdl:message name="CopyNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:CopyNode"/>
    </wsdl:message>
    <wsdl:message name="CopyNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:CopyNodeResponse"/>
    </wsdl:message>

    <!--+
        | The GetNode messages.
        +-->
    <wsdl:message name="GetNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetNode"/>
    </wsdl:message>
    <wsdl:message name="GetNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:GetNodeResponse"/>
    </wsdl:message>

    <!--+
        | The SetNode messages.
        +-->
    <wsdl:message name="SetNodeRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:SetNode"/>
    </wsdl:message>
    <wsdl:message name="SetNodeResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:SetNodeResponse"/>
    </wsdl:message>

    <!--+
        | The ListNodes messages.
        +-->
    <wsdl:message name="ListNodesRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:ListNodes"/>
    </wsdl:message>
    <wsdl:message name="ListNodesResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:ListNodesResponse"/>
    </wsdl:message>

    <!--+
        | The FindNodes messages.
        +-->
    <wsdl:message name="FindNodesRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:FindNodes"/>
    </wsdl:message>
    <wsdl:message name="FindNodesResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:FindNodesResponse"/>
    </wsdl:message>

    <!--+
        | The PushToVoSpace messages.
        +-->
    <wsdl:message name="PushToVoSpaceRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PushToVoSpace"/>
    </wsdl:message>
    <wsdl:message name="PushToVoSpaceResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PushToVoSpaceResponse"/>
    </wsdl:message>

    <!--+
        | The PullToVoSpace messages.
        +-->
    <wsdl:message name="PullToVoSpaceRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PullToVoSpace"/>
    </wsdl:message>
    <wsdl:message name="PullToVoSpaceResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PullToVoSpaceResponse"/>
    </wsdl:message>

    <!--+
        | The PullFromVoSpace messages.
        +-->
    <wsdl:message name="PullFromVoSpaceRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PullFromVoSpace"/>
    </wsdl:message>
    <wsdl:message name="PullFromVoSpaceResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PullFromVoSpaceResponse"/>
    </wsdl:message>

    <!--+
        | The PushFromVoSpace messages.
        +-->
    <wsdl:message name="PushFromVoSpaceRequestMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PushFromVoSpace"/>
    </wsdl:message>
    <wsdl:message name="PushFromVoSpaceResponseMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PushFromVoSpaceResponse"/>
    </wsdl:message>

    <!--+
        | The fault messages.
        +-->
    <wsdl:message name="InternalFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:InternalFault"/>
    </wsdl:message>
    <wsdl:message name="NodeNotFoundFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:NodeNotFoundFault"/>
    </wsdl:message>
    <wsdl:message name="DuplicateNodeFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:DuplicateNodeFault"/>
    </wsdl:message>
    <wsdl:message name="PermissionDeniedFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PermissionDeniedFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidUriFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:InvalidUriFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidTokenFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:InvalidTokenFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidArgumentFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:InvalidArgumentFault"/>
    </wsdl:message>
    <wsdl:message name="TypeNotSupportedFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:TypeNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="ViewNotSupportedFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:ViewNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="ProtocolNotSupportedFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:ProtocolNotSupportedFault"/>
    </wsdl:message>
    <wsdl:message name="TransferFailedFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:TransferFailedFault"/>
    </wsdl:message>
    <wsdl:message name="InvalidDataFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:InvalidDataFault"/>
    </wsdl:message>
    <wsdl:message name="ContainerNotFoundFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:ContainerNotFoundFault"/>
    </wsdl:message>
    <wsdl:message name="LinkFoundFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:LinkFoundFault"/>
    </wsdl:message>
    <wsdl:message name="PropertyNotFoundFaultMessage">
        <wsdl:part name="message" element="vos.contract.1.1:PropertyNotFoundFault"/>
    </wsdl:message>

    <!--+
        | The VoSpace-1.1 port type.
        +-->
    <wsdl:portType name="VOSpacePortType">

        <!--+
            | The GetViews operation.
            +-->
        <wsdl:operation name="GetViews">
            <wsdl:documentation>
                GetViews operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:GetViewsRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:GetViewsResponseMessage"/>
            <wsdl:fault  name="InternalFault" message="vos.contract.1.1:InternalFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The GetProtocols operation.
            +-->
        <wsdl:operation name="GetProtocols">
            <wsdl:documentation>
                GetProtocols operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:GetProtocolsRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:GetProtocolsResponseMessage"/>
            <wsdl:fault  name="InternalFault" message="vos.contract.1.1:InternalFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The GetProperties operation.
            +-->
        <wsdl:operation name="GetProperties">
            <wsdl:documentation>
                GetProperties operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:GetPropertiesRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:GetPropertiesResponseMessage"/>
            <wsdl:fault  name="InternalFault" message="vos.contract.1.1:InternalFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The CreateNode operation.
            +-->
        <wsdl:operation name="CreateNode">
            <wsdl:documentation>
                CreateNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:CreateNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:CreateNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="DuplicateNodeFault"    message="vos.contract.1.1:DuplicateNodeFaultMessage"/>
            <wsdl:fault  name="TypeNotSupportedFault" message="vos.contract.1.1:TypeNotSupportedFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
            <wsdl:fault  name="PropertyNotFoundFault" message="vos.contract.1.1:PropertyNotFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The DeleteNode operation.
            +-->
        <wsdl:operation name="DeleteNode">
            <wsdl:documentation>
                DeleteNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:DeleteNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:DeleteNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The MoveNode operation.
            +-->
        <wsdl:operation name="MoveNode">
            <wsdl:documentation>
                MoveNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:MoveNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:MoveNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"  message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="DuplicateNodeFault"    message="vos.contract.1.1:DuplicateNodeFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The CopyNode operation.
            +-->
        <wsdl:operation name="CopyNode">
            <wsdl:documentation>
                CopyNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:CopyNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:CopyNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"  message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="DuplicateNodeFault"    message="vos.contract.1.1:DuplicateNodeFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The GetNode operation.
            +-->
        <wsdl:operation name="GetNode">
            <wsdl:documentation>
                GetNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:GetNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:GetNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The SetNode operation.
            +-->
        <wsdl:operation name="SetNode">
            <wsdl:documentation>
                SetNode operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:SetNodeRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:SetNodeResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"  message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The ListNodes operation.
            +-->
        <wsdl:operation name="ListNodes">
            <wsdl:documentation>
                ListNodes operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:ListNodesRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:ListNodesResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="InvalidTokenFault"     message="vos.contract.1.1:InvalidTokenFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The FindNodes operation.
            +-->
        <wsdl:operation name="FindNodes">
            <wsdl:documentation>
                FindNodes operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:FindNodesRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:FindNodesResponseMessage"/>
            <wsdl:fault  name="InternalFault"         message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"       message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"     message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="InvalidTokenFault"     message="vos.contract.1.1:InvalidTokenFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault" message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
	    <wsdl:fault  name="PropertyNotFoundFault" message="vos.contract.1.1:PropertyNotFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The PushToVoSpace operation.
            +-->
        <wsdl:operation name="PushToVoSpace">
            <wsdl:documentation>
                PushToVoSpace operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:PushToVoSpaceRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:PushToVoSpaceResponseMessage"/>
            <wsdl:fault  name="InternalFault"             message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"           message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"      message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="ViewNotSupportedFault"     message="vos.contract.1.1:ViewNotSupportedFaultMessage"/>
            <wsdl:fault  name="TypeNotSupportedFault"     message="vos.contract.1.1:TypeNotSupportedFaultMessage"/>
            <wsdl:fault  name="ProtocolNotSupportedFault" message="vos.contract.1.1:ProtocolNotSupportedFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault"     message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The PullToVoSpace operation.
            +-->
        <wsdl:operation name="PullToVoSpace">
            <wsdl:documentation>
                PullToVoSpace operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:PullToVoSpaceRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:PullToVoSpaceResponseMessage"/>
            <wsdl:fault  name="InternalFault"             message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"           message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidDataFault"          message="vos.contract.1.1:InvalidDataFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"      message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="ViewNotSupportedFault"     message="vos.contract.1.1:ViewNotSupportedFaultMessage"/>
            <wsdl:fault  name="TypeNotSupportedFault"     message="vos.contract.1.1:TypeNotSupportedFaultMessage"/>
            <wsdl:fault  name="ProtocolNotSupportedFault" message="vos.contract.1.1:ProtocolNotSupportedFaultMessage"/>
            <wsdl:fault  name="TransferFailedFault"       message="vos.contract.1.1:TransferFailedFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault"     message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The PullFromVoSpace operation.
            +-->
        <wsdl:operation name="PullFromVoSpace">
            <wsdl:documentation>
                PullFromVoSpace operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:PullFromVoSpaceRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:PullFromVoSpaceResponseMessage"/>
            <wsdl:fault  name="InternalFault"             message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"           message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"      message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"         message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="ViewNotSupportedFault"     message="vos.contract.1.1:ViewNotSupportedFaultMessage"/>
            <wsdl:fault  name="ProtocolNotSupportedFault" message="vos.contract.1.1:ProtocolNotSupportedFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault"     message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

        <!--+
            | The PushFromVoSpace operation.
            +-->
        <wsdl:operation name="PushFromVoSpace">
            <wsdl:documentation>
                PushFromVoSpace operation
            </wsdl:documentation>
            <wsdl:input  message="vos.contract.1.1:PushFromVoSpaceRequestMessage"/>
            <wsdl:output message="vos.contract.1.1:PushFromVoSpaceResponseMessage"/>
            <wsdl:fault  name="InternalFault"             message="vos.contract.1.1:InternalFaultMessage"/>
            <wsdl:fault  name="InvalidUriFault"           message="vos.contract.1.1:InvalidUriFaultMessage"/>
            <wsdl:fault  name="InvalidArgumentFault"      message="vos.contract.1.1:InvalidArgumentFaultMessage"/>
            <wsdl:fault  name="NodeNotFoundFault"         message="vos.contract.1.1:NodeNotFoundFaultMessage"/>
            <wsdl:fault  name="ViewNotSupportedFault"     message="vos.contract.1.1:ViewNotSupportedFaultMessage"/>
            <wsdl:fault  name="ProtocolNotSupportedFault" message="vos.contract.1.1:ProtocolNotSupportedFaultMessage"/>
            <wsdl:fault  name="TransferFailedFault"       message="vos.contract.1.1:TransferFailedFaultMessage"/>
            <wsdl:fault  name="PermissionDeniedFault"     message="vos.contract.1.1:PermissionDeniedFaultMessage"/>
            <wsdl:fault  name="ContainerNotFoundFault" message="vos.contract.1.1:ContainerNotFoundFaultMessage"/>
            <wsdl:fault  name="LinkFoundFault" message="vos.contract.1.1:LinkFoundFaultMessage"/>
        </wsdl:operation>

    </wsdl:portType>

    <!--+
        | The WebService HTTP binding.
        +-->
    <wsdl:binding name="VOSpaceBinding" type="vos.contract.1.1:VOSpacePortType">
        <wsdl:documentation>
            HTTP binding for the a VoSpace service.
        </wsdl:documentation>
        <soap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

        <!--+
            | The GetViews operation.
            +-->
        <wsdl:operation name="GetViews">
            <wsdl:documentation>
                GetViews operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:GetViews"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The GetProtocols operation.
            +-->
        <wsdl:operation name="GetProtocols">
            <wsdl:documentation>
                GetProtocols operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:GetProtocols"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The GetProperties operation.
            +-->
        <wsdl:operation name="GetProperties">
            <wsdl:documentation>
                GetProperties operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:GetProperties"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The CreateNode operation.
            +-->
        <wsdl:operation name="CreateNode">
            <wsdl:documentation>
                CreateNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:CreateNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateNodeFault">
                <soap:fault use="literal" name="DuplicateNodeFault"/>
            </wsdl:fault>
            <wsdl:fault name="TypeNotSupportedFault">
                <soap:fault use="literal" name="TypeNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The DeleteNode operation.
            +-->
        <wsdl:operation name="DeleteNode">
            <wsdl:documentation>
                DeleteNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:DeleteNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The MoveNode operation.
            +-->
        <wsdl:operation name="MoveNode">
            <wsdl:documentation>
                MoveNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:MoveNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateNodeFault">
                <soap:fault use="literal" name="DuplicateNodeFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The CopyNode operation.
            +-->
        <wsdl:operation name="CopyNode">
            <wsdl:documentation>
                CopyNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:CopyNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="DuplicateNodeFault">
                <soap:fault use="literal" name="DuplicateNodeFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The GetNode operation.
            +-->
        <wsdl:operation name="GetNode">
            <wsdl:documentation>
                GetNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:GetNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The SetNode operation.
            +-->
        <wsdl:operation name="SetNode">
            <wsdl:documentation>
                SetNode operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:SetNode"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The ListNodes operation.
            +-->
        <wsdl:operation name="ListNodes">
            <wsdl:documentation>
                ListNodes operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:ListNodes"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTokenFault">
                <soap:fault use="literal" name="InvalidTokenFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The FindNodes operation.
            +-->
        <wsdl:operation name="FindNodes">
            <wsdl:documentation>
                FindNodes operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:FindNodes"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidTokenFault">
                <soap:fault use="literal" name="InvalidTokenFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PropertyNotFoundFault">
                <soap:fault use="literal" name="PropertyNotFoundFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The PushToVoSpace operation.
            +-->
        <wsdl:operation name="PushToVoSpace">
            <wsdl:documentation>
                PushToVoSpace operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:PushToVoSpace"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="ViewNotSupportedFault">
                <soap:fault use="literal" name="ViewNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="TypeNotSupportedFault">
                <soap:fault use="literal" name="TypeNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="ProtocolNotSupportedFault">
                <soap:fault use="literal" name="ProtocolNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The PullToVoSpace operation.
            +-->
        <wsdl:operation name="PullToVoSpace">
            <wsdl:documentation>
                PullToVoSpace operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:PullToVoSpace"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidDataFault">
                <soap:fault use="literal" name="InvalidDataFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="ViewNotSupportedFault">
                <soap:fault use="literal" name="ViewNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="TypeNotSupportedFault">
                <soap:fault use="literal" name="TypeNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="ProtocolNotSupportedFault">
                <soap:fault use="literal" name="ProtocolNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="TransferFailedFault">
                <soap:fault use="literal" name="TransferFailedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The PullFromVoSpace operation.
            +-->
        <wsdl:operation name="PullFromVoSpace">
            <wsdl:documentation>
                PullFromVoSpace operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:PullFromVoSpace"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="ViewNotSupportedFault">
                <soap:fault use="literal" name="ViewNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="ProtocolNotSupportedFault">
                <soap:fault use="literal" name="ProtocolNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

        <!--+
            | The PushFromVoSpace operation.
            +-->
        <wsdl:operation name="PushFromVoSpace">
            <wsdl:documentation>
                PushFromVoSpace operation.
            </wsdl:documentation>
            <soap:operation soapAction="http://www.ivoa.net/xml/VOSpaceContract-v1.1rc1:PushFromVoSpace"/>
            <wsdl:input>
                <soap:body use="literal" parts="message"/>
            </wsdl:input>
            <wsdl:output>
                <soap:body use="literal" parts="message"/>
            </wsdl:output>
            <wsdl:fault name="InternalFault">
                <soap:fault use="literal" name="InternalFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidUriFault">
                <soap:fault use="literal" name="InvalidUriFault"/>
            </wsdl:fault>
            <wsdl:fault name="InvalidArgumentFault">
                <soap:fault use="literal" name="InvalidArgumentFault"/>
            </wsdl:fault>
            <wsdl:fault name="NodeNotFoundFault">
                <soap:fault use="literal" name="NodeNotFoundFault"/>
            </wsdl:fault>
            <wsdl:fault name="ViewNotSupportedFault">
                <soap:fault use="literal" name="ViewNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="ProtocolNotSupportedFault">
                <soap:fault use="literal" name="ProtocolNotSupportedFault"/>
            </wsdl:fault>
            <wsdl:fault name="TransferFailedFault">
                <soap:fault use="literal" name="TransferFailedFault"/>
            </wsdl:fault>
            <wsdl:fault name="PermissionDeniedFault">
                <soap:fault use="literal" name="PermissionDeniedFault"/>
            </wsdl:fault>
        </wsdl:operation>

    </wsdl:binding>

    <!--+
        | The top level VoSpace-1.0 WebService definition.
        +-->
    <wsdl:service name="VOSpaceService">
        <wsdl:documentation>....</wsdl:documentation>
        <wsdl:port name="VOSpacePort" binding="vos.contract.1.1:VOSpaceBinding">
            <soap:address location="http://localhost/vospace/vospace_endpoint.php"/>
        </wsdl:port>
    </wsdl:service>

</wsdl:definitions>
